<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opencloud.msg.server.mapper.WebHookLogsMapper">
    <resultMap id="BaseResultMap" type="com.opencloud.msg.client.model.entity.WebHookLogs">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="msg_id" jdbcType="VARCHAR" property="msgId"/>
        <result column="retry_nums" jdbcType="DECIMAL" property="retryNums"/>
        <result column="total_nums" jdbcType="DECIMAL" property="totalNums"/>
        <result column="delay" jdbcType="DECIMAL" property="delay"/>
        <result column="result" jdbcType="DECIMAL" property="result"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="url" jdbcType="LONGVARCHAR" property="url"/>
        <result column="data" jdbcType="LONGVARCHAR" property="data"/>
    </resultMap>
</mapper>
