<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opencloud.base.server.mapper.BaseAuthorityAppMapper">
    <resultMap id="BaseResultMap" type="com.opencloud.base.client.model.entity.BaseAuthorityApp">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="authority_id" jdbcType="BIGINT" property="authorityId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
    </resultMap>

    <select id="selectAuthorityByApp" resultMap="com.opencloud.base.server.mapper.BaseAuthorityMapper.Authority">
        SELECT
        a.authority_id,
        a.authority,
        ap.expire_time,
        'app' AS owner
        FROM base_authority_app AS ap
        INNER JOIN base_authority AS a ON ap.authority_id = a.authority_id
        WHERE ap.app_id = #{appId} AND a.status = 1
    </select>
</mapper>
