<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opencloud.base.server.mapper.BaseAuthorityUserMapper">
    <resultMap id="BaseResultMap" type="com.opencloud.base.client.model.entity.BaseAuthorityUser">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="authority_id" jdbcType="BIGINT" property="authorityId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
    </resultMap>
    <resultMap id="UserAuthorityMenu" type="com.opencloud.base.client.model.AuthorityMenu"
               extends="com.opencloud.base.server.mapper.BaseMenuMapper.BaseResultMap">
        <result column="authority_id" jdbcType="BIGINT" property="authorityId"/>
        <result column="authority" jdbcType="VARCHAR" property="authority"/>
        <collection property="actionList" column="{menuId=menu_id,userId=user_id}"
                    select="com.opencloud.base.server.mapper.BaseAuthorityMapper.selectAuthorityAction"/>
    </resultMap>

    <select id="selectAuthorityByUser" resultMap="com.opencloud.base.server.mapper.BaseAuthorityMapper.Authority">
        SELECT
        a.authority_id,
        a.authority,
        up.expire_time,
        'user' AS owner
        FROM base_authority_user AS up
        INNER JOIN base_authority AS a ON up.authority_id = a.authority_id
        WHERE up.user_id = #{userId} AND a.status = 1
    </select>

    <select id="selectAuthorityMenuByUser" resultMap="UserAuthorityMenu">
        SELECT
        a.authority_id,
        a.authority,
        a.`status`,
        m.*,
        ua.user_id,
        ua.expire_time
        FROM base_authority_user AS ua
        INNER JOIN base_authority AS a ON ua.authority_id = a.authority_id
        INNER JOIN base_menu AS m ON a.menu_id = m.menu_id
        WHERE ua.user_id = #{userId} AND a.status = 1
        <if test="serviceId != null and serviceId != ''">
            AND m.service_id = #{serviceId}
        </if>
    </select>
</mapper>
