<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opencloud.base.server.mapper.BaseRoleMapper">
    <resultMap id="BaseResultMap" type="com.opencloud.base.client.model.entity.BaseRole">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_desc" property="roleDesc" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_persist" property="isPersist" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectRoleList" resultMap="BaseResultMap">
        SELECT * FROM base_role
    </select>
</mapper>
