<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opencloud.base.server.mapper.BaseAuthorityRoleMapper">
    <resultMap id="BaseResultMap" type="com.opencloud.base.client.model.entity.BaseAuthorityRole">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="authority_id" jdbcType="BIGINT" property="authorityId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
    </resultMap>
    <resultMap id="RoleAuthorityMenu" type="com.opencloud.base.client.model.AuthorityMenu"
               extends="com.opencloud.base.server.mapper.BaseMenuMapper.BaseResultMap">
        <result column="authority_id" jdbcType="BIGINT" property="authorityId"/>
        <result column="authority" jdbcType="VARCHAR" property="authority"/>
        <collection property="actionList" column="{menuId=menu_id,roleId=role_id}"
                    select="com.opencloud.base.server.mapper.BaseAuthorityMapper.selectAuthorityAction"/>
    </resultMap>

    <select id="selectAuthorityByRole" resultMap="com.opencloud.base.server.mapper.BaseAuthorityMapper.Authority">
        SELECT
        a.authority_id,
        a.authority,
        rp.expire_time,
        'role' AS owner
        FROM base_authority_role AS rp
        INNER JOIN base_authority AS a ON rp.authority_id = a.authority_id
        WHERE rp.role_id = #{roleId} AND a.status = 1
    </select>

    <select id="selectAuthorityMenuByRole" resultMap="RoleAuthorityMenu">
        SELECT
        a.authority_id,
        a.authority,
        a.`status`,
        m.*,
        rp.role_id,
        rp.expire_time
        FROM base_authority_role AS rp
        INNER JOIN base_authority AS a ON rp.authority_id = a.authority_id
        INNER JOIN base_menu AS m ON a.menu_id = m.menu_id
        WHERE rp.role_id = #{roleId} AND a.status = 1
        <if test="serviceId != null and serviceId != ''">
            AND m.service_id = #{serviceId}
        </if>
    </select>
</mapper>
