<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opencloud.base.server.mapper.GatewayRouteMapper">
    <resultMap id="BaseResultMap" type="com.opencloud.base.client.model.entity.GatewayRoute">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="route_id" property="routeId" jdbcType="BIGINT"/>
        <result column="route_name" property="routeName" jdbcType="VARCHAR"/>
        <result column="route_type" property="routeType" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="service_id" property="serviceId" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="strip_prefix" property="stripPrefix" jdbcType="INTEGER"/>
        <result column="retryable" property="retryable" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="route_desc" property="routeDesc" jdbcType="VARCHAR"/>
        <result column="is_persist" property="isPersist" jdbcType="INTEGER"/>
    </resultMap>
</mapper>
