<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsd.dingtalk.server.mapper.CompanyMapper">
    <!-- 表名 -->
    <sql id="t_name">org_company</sql>

    <!-- 别名 -->
    <sql id="t_alias">org_company as company</sql>

    <!--外键表关联定义 -->
    <sql id="join">
    </sql>

    <!-- 自定义分页 -->
    <select id="pageList" resultType="com.opencloud.common.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
