<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsd.dingtalk.server.mapper.UserMapper">
    <!-- 表名 -->
    <sql id="t_name">org_user</sql>

    <!-- 别名 -->
    <sql id="t_alias">org_user as user</sql>

    <!--外键表关联定义 -->
    <sql id="join">
    </sql>

    <!-- 自定义分页 -->
    <select id="pageList" resultType="com.opencloud.common.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!--
    <insert id="insertBatch" parameterType="list">
        insert  into org_user (user_id,parent_id,position_id,dd_userid,unionid,name,tel,work_place,remark,mobile,email,org_email,active,
            department,position,avatar,hired_date,jobnumber)
        values
        <foreach collection="list" item="item"  index="index" separator=",">
            #{item.userId},
            #{item.parentId},
            #{item.positionId},
            #{item.ddUserid},
            #{item.unionid},
            #{item.name},
            #{item.tel},
            #{item.workPlace},
            #{item.remark},
            #{item.mobile},
            #{item.email},
            #{item.orgEmail},
            #{item.active},
            #{item.department},
            #{item.position},
            #{item.avatar},
            #{item.hiredDate},
            #{item.jobnumber}
        </foreach>
    </insert>
-->


</mapper>
